.breadcr-container {
  background-image: url(../../../assets/images/TitlePattern.png);
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

::ng-deep .p-breadcrumb {
  background-color: unset;
  border: 0;

  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;

  }
}
